@{
    ViewBag.Title = "About";
}
<h2 style="color:#b40505">@ViewBag.Title</h2>
@*
<h3>@ViewBag.Message</h3>
*@

<p>
         My goal was to create an MVC application for retail stores to be able to manage their products, as it relates to promotions and zone allocations. The target audience would be retail stores of any kind. This application could be used by, both, home office and associates on the sales floor. As someone who has worked in the retail industry, I realize how important it is to get information to customer-facing associates in as quick and user-friendly a manner as possible.
</p>
<p>
         This project is designed to provide "back end" functionality for an administrator to be able to create, edit, update, and delete a product for sale, department, zone, size, and promotion. It also provides "front end" functionality that gives an Employee the ability to look up a product's department, style #, SKU #, name, zone, size, color, zone location, ticket price, and sales price. There is a SKU searchbar in place at the top of the products list page which allows an employee to retrieve a specific product based on its SKU #, much like what would happen if they scanned a product's barcode.
</p>
