@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*
<h3>@ViewBag.Message</h3>
*@

<address>
    Aaron Barchet<br/>
    Indianapolis, IN<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aaron.barchet@gmail.com">aaron.barchet@gmail.com</a><br />
</address>