@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Retail Management Tool</h1>
    <p class="lead">Retail Management Tool is a tool that helps your home office pass the most current product information to your salesfloor team.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Already have an account?</h2>
        <h4>Great! Sign in and let's get started!</h4>

    </div>
    <div class="col-md-6">
        <h2>Not Signed Up?</h2>
        <h4>Wait are you waiting for?! Click on the "Register" link at the top of your page!</h4>
    </div>
</div>
