
@{
    ViewBag.Title = "DeleteErrorD";
}

<h2 style="color:#b40505">Delete Error</h2>
<hr />
<br />
<br />

<h4 style="color:#b40505">This Promotion could not be deleted beacause it is currently being used by a Department. Make sure this Promotion is removed from all Departments before attempting to delete it.</h4>
<hr />
<br />
<br />
@Html.ActionLink("To Full List of Promotions", "Index")

